{% extends 'base.html' %}

{% block title %}
Todo App | Home
{% endblock %}

{% block section %}
      
      <section id="section">
        <div class="container" id="container" style="padding: 0 135px;">
            <h1>ToDo App</h1>
            <form class="inline-form" action="/" method="POST">
                <ul class="h-menu bg-red fg-black" style="padding: 5px;">
                    <li><input type="text" class="input-small" data-role="input" data-prepend="Task Todo: " name="todo"></li>
                    <li>
                        <select data-role="select" class="input-small" name="importance">
                            <option value="">Task Importance&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                            <option value="Urgent">Urgent&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                            <option value="Important">important&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                            <option value="Not Important">Not Important&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                    </select>
                    </li>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li><button class="button light outline small rounded" onclick="submitForm()">Add Task</button></li>
                    
                    <button class="button light  small rounded" type="button" id="theme" onclick="changeTheme()" style="margin-left: 150px;">Light Theme</button>
                </ul>

            </form>
            <br>
            {% for message in get_flashed_messages() %}
                {{ message }}
            {% endfor %}

            <br>
            <table class="table table-border cell-border subcompact">
                <thead>
                <tr class = "red">
                    <th>Task</th>
                    <th>Importance</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                
                    {% if task['importance'] == "Urgent" %}
                    <tr class = "warning">
                        <td>{{task['task']}}</td>
                    <td>{{task['importance']}}</td>
                    <td>
                        <a href="/edit/{{task['id']}}" class="button shadowed small rounded warning">Edit Task</a>
                        <a href="/delete/{{task['id']}}" class="button shadowed small rounded alert">Delete Task</a>
                    </td>
                    </tr>
                    {% elif task['importance'] == "Important" %}
                    <tr class = "info">
                        <td>{{task['task']}}</td>
                    <td>{{task['importance']}}</td>
                    <td>
                        <a href="/edit/{{task['id']}}" class="button shadowed small rounded warning">Edit Task</a>
                        <a href="/delete/{{task['id']}}" class="button shadowed small rounded alert">Delete Task</a>
                    </td>
                    </tr>
                    {% elif task['importance'] == "Not Important" %}
                    <tr class = "success">
                        <td>{{task['task']}}</td>
                    <td>{{task['importance']}}</td>
                    <td>
                        <a href="/edit/{{task['id']}}" class="button shadowed small rounded warning">Edit Task</a>
                        <a href="/delete/{{task['id']}}" class="button shadowed small rounded alert">Delete Task</a>
                    </td>
                    </tr>
                    {% else %}
                    <tr  class="yello">
                        <td>{{task['task']}}</td>
                    <td>{{task['importance']}}</td>
                    <td>
                        <a href="/edit/{{task['id']}}" class="button shadowed small rounded warning">Edit Task</a>
                        <a href="/delete/{{task['id']}}" class="button shadowed small rounded alert">Delete Task</a>
                    </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
                </table>
        </div>
      </section>
    {% endblock %}